PCB.*
*.d
*.bin
*.cir
*.cmd
*.net
*.new.pcb
*.raw
*.rcr
*.fake-cir
\#*#
unused
board/*-board.sch
prog/blink
prog/monitor
prog/pattern
prog/rmsim
test/add
test/alu
test/call
test/cmp
test/hazard
test/inc
test/logic
test/mem
test/memi
test/memw
test/opdecode
test/pcdecode
test/ramdecode
test/romdecode
test/sp
test/sub
/doc
/footgen
