PCB.*
*.d
*.bin
*.cir
*.cmd
*.net
*.new.pcb
*.raw
*.rcr
*.fake-cir
\#*#
test/hazard
test/logic
test/monitor
test/pattern
test/rmsim
test/test1
test/testadd
test/testalu
test/testcall
test/testinc
test/testmem
test/testopdecode
test/testpcdecode
test/testsp
test/testsub
/doc
/footgen
