CONFIG VCCAUX = "3.3";

# AKA LCD_clk
NET "cpu_clk_ext" LOC = "P16" | IOSTANDARD = "LVCMOS33" | TNM_NET = "cpu_clk_ext";
TIMESPEC TS_cpu_clk_ext = PERIOD "cpu_clk_ext" 50MHz;

NET "cpu_reset" LOC = "P12" | IOSTANDARD = "LVCMOS33";

NET "clkin100" LOC = "P94" | IOSTANDARD = "LVCMOS33" | TNM_NET = "clkin100";
NET "clkin100_en" LOC = "P92" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
TIMESPEC TS_Clkin100 = PERIOD "clkin100" 10 ns HIGH 50%;

NET "ssp1_ssel" LOC = "P26" | IOSTANDARD = "LVCMOS33";
NET "ssp1_sck"  LOC = "P24" | IOSTANDARD = "LVCMOS33";
NET "ssp1_mosi" LOC = "P21" | IOSTANDARD = "LVCMOS33" | DRIVE = "2" | SLEW = "FAST";
NET "ssp1_miso" LOC = "P15" | IOSTANDARD = "LVCMOS33";

NET "led<0>" LOC = "P105" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<1>" LOC = "P104" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<2>" LOC = "P102" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<3>" LOC = "P100" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<4>" LOC = "P85" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<5>" LOC = "P82" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<6>" LOC = "P78" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";
NET "led<7>" LOC = "P74" | IOSTANDARD = "LVCMOS33" | DRIVE = "2";

INST "cpu/Mram_prgram" LOC = RAMB8_X1Y10;
INST "cpu/Mram_memory" LOC = RAMB8_X1Y9;
